---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout title="__dummy__" description="__dummy__" ogImage="__dummy__.jpg">
    <main>
        <h1>下層ページ</h1>
    </main>
</BaseLayout>

<style></style>
