---
import BaseLayout from "@layouts/BaseLayout.astro";
import Section from "@src/components/common/Section.astro";
---

<BaseLayout title="__dummy__" description="__dummy__" ogImage="__dummy__.jpg">
    <main>
        <Section>
            <h1>ページが存在しません。</h1>
        </Section>
    </main>
</BaseLayout>
