---
import '../style.scss';
import BaseLayout from "@layouts/BaseLayout.astro";
import Section from "@src/components/common/Section.astro";
import Heading from '@src/components/parts/Heading.astro';
---

<BaseLayout title="コンポーネントリスト" description="コンポーネントリスト">
    <main>
        <Section>
            <Heading
                level={1}
                text="コンポーネントリスト"
            />
        </Section>
    </main>
</BaseLayout>

<style lang="scss">
    @use '../../../style/global' as g;
</style>

<script>
</script>
