---
import '../style.scss';
import BaseLayout from "@layouts/BaseLayout.astro";
import Section from "@src/components/common/Section.astro";
---

<BaseLayout title="コンポーネントリスト" description="コンポーネントリスト">
    <main>
        <Section>
            <h2>コンポーネントリスト</h2>
        </Section>
    </main>
</BaseLayout>

<style lang="scss">
    @use '../../../style/global' as g;
</style>

<script>
</script>
