---
import BaseLayout from "@layouts/BaseLayout.astro";
import Section from "@src/components/common/Section.astro";
import Heading from "@src/components/parts/Heading.astro";
import Text from "@src/components/parts/Text.astro";
import MediaImage from "@src/components/parts/MediaImage.astro";
import LinkButton from "@src/components/parts/LinkButton.astro";
import Toggle from "@src/components/parts/Toggle.astro";
import Modal from "@src/components/parts/Modal.astro";
import Accordion from "@src/components/templates/Accordion.astro";
import Tab from "@src/components/parts/Tab.astro";
import List from "@src/components/parts/List.astro";
import ListLink from "@src/components/parts/ListLink.astro";
---

<BaseLayout
  title="コンポーネントリスト"
  description="コンポーネントリスト"
>
  <main>
    <Section>
      <Heading
        level={1}
        text="コンポーネントリスト"
      />

      <Text text={["テキストテキストテキスト", "テキストテキスト<sup>※</sup>テキストテキスト"]} />

      <Toggle
        buttonText="トグルボタン"
        bodyText={["テキストテキストテキスト", "テキストテキスト"]}
      />

      <Modal
        buttonText={["モーダルボタン"]}
        headingLevel={2}
        headingText={["モーダル見出し"]}
        bodyText={[
          "テキストテキストテキスト",
          "テキストテキストテキスト",
          "テキストテキストテキスト"
        ]}
      />

      <Accordion />

      <Tab />

      <MediaImage
        imgSrc="/assets/image/dummy.webp"
        alt="__dummy__"
        width="600"
        height="400"
        lazy={true}
        async={true}
      />

      <LinkButton
        text="リンクボタン"
        href="__dummy__"
        blank={false}
      />

      <List
        text={[
          "リストリストリストリスト",
          "リストリスト",
        ]}
      />

      <ListLink
        link={
          [
            {
              href: '/__dummy__/',
              text: 'リストリンク1',
            },
            {
              href: '/__dummy__/',
              text: 'リストリンク2',
            }
          ]
        }
      />
    </Section>
  </main>
</BaseLayout>

<style lang="scss">
  @use "../../../style/global" as g;
</style>

<script></script>
