---
import '../style.scss';
import BaseLayout from "@layouts/BaseLayout.astro";
import Section from "@src/components/common/Section.astro";
import Heading from '@src/components/parts/Heading.astro';
import Text from '@src/components/parts/Text.astro';
import MediaImage from '@src/components/parts/MediaImage.astro';
---

<BaseLayout title="コンポーネントリスト" description="コンポーネントリスト">
    <main>
        <Section>
            <Heading
                level={1}
                text="コンポーネントリスト"
            />

            <Text
                text={[
                    'テキストテキストテキスト',
                    'テキストテキスト<sup>※</sup>テキストテキスト'
                ]}
            />

            <MediaImage
                imgSrc="/assets/image/dummy.webp"
                alt="__dummy__"
                width="600"
                height="400"
                lazy={true}
                async={true}
            />
        </Section>
    </main>
</BaseLayout>

<style lang="scss">
    @use '../../../style/global' as g;
</style>

<script>
</script>
