---
const { path, title, description, keywords } = Astro.props;
---

<meta charset="UTF-8" />
<meta
    name="viewport"
    content="width=device-width"
/>
<title>{title}</title>
<meta
    name="keywords"
    content={keywords}
/>
<meta
    name="description"
    content={description}
/>
<meta
    name="format-detection"
    content="telephone=no"
/>
<link
    rel="icon"
    type="image/svg+xml"
    href="/favicon.svg"
/>
