---

---

<div class="root accordion">
    <ul>
        <li>
            <div class="accordionItem">
                <button type="button" class="accordionItem__button">
                    アコーディオンボタン
                    <span class="button__mark"><span class="accordionItem__button__mark">開く</span></span>
                </button>

                <div class="accordionItem__body" aria-hidden="true">
                    アコーディオンボディ
                </div>
            </div>
        </li>
        <li>
            <div class="accordionItem">
                <button type="button" class="accordionItem__button">
                    アコーディオンボタン
                    <span class="button__mark"><span class="accordionItem__button__mark">開く</span></span>
                </button>

                <div class="accordionItem__body" aria-hidden="true">
                    アコーディオンボディ
                </div>
            </div>
        </li>
    </ul>
</div>

<style lang="scss">
    @use '../../style/global' as g;

    // ---------- 基底要素 ----------
    .root {
        margin-top: g.rem(100px);

        @include g.mediaQuery() {
            margin-top: g.rem(60px);
        }
    }

    // ---------- リスト要素 ----------
    .root > ul {

        @include g.mediaQuery() {
        }
    }

    .root > ul > li {
        @include g.mediaQuery() {
        }

        & + li {
            margin-top: g.rem(40px);

            @include g.mediaQuery() {
                margin-top: g.rem(30px);
            }
        }
    }
</style>
