---
---

<div class="root modal">
    <button type="button" class="button modal__button">
        モーダルボタン

        <div class="menu__text modal__button__text">開く</div>
    </button>

    <div role="dialog">
        <nav class="nav modal__body" aria-label="__dummy__">
            <div class="modal__body__inner">
                モーダルボディ

                <a href="__dummy__">ダミーリンク</a>
            </div>
        </nav>
    </div>
</div>

<style lang="scss">
    @use '../../style/global' as g;

    // ---------- 基底要素 ----------
    .root {
    }

    // ---------- ナビを開くボタン ----------
    .button {
    }

    // ---------- モーダルを開くボタンが押されたとき ----------
    .button[aria-expanded="true"] {
    }

</style>
