---
---

<div class="root tab" data-default-display="1">
  <div class="tab__button__wrap">
    <button class="tab__button">タブボタン1</button>
    <button class="tab__button">タブボタン2</button>
  </div>

  <!--
    デフォルトで表示したいタブの aria-hidden を false に設定
    false に設定できるのは .tab__body の中で1つのみ
  -->
  <div class="tab__body__wrap">
    <div
      class="tab__body"
      aria-hidden="false"
    >
      <p>テキストテキストテキスト</p>
    </div>
    <div
      class="tab__body"
      aria-hidden="true"
    >
      <p>テキストテキストテキストテキスト</p>
    </div>
  </div>
</div>

<style lang="scss">
  @use "../../style/global" as g;

  // ---------- 基底要素 ----------
  .root {
  }
</style>
