---
import BaseHead from "../components/common/BaseHead.astro";
import Header from "../components/common/Header.astro";
import Footer from "../components/common/Footer.astro";
export interface Props {
    path?: string;
    title: string;
    description: string;
    keywords: string;
}

const { path, title, description, keywords } = Astro.props;
---

<!DOCTYPE html>
<html lang="ja">
    <head>
        <BaseHead
            path={`${path}`}
            title={`${title}`}
            description={`${description}`}
            keywords={`${keywords}`}
        />
    </head>
    <body>
        <Header />

        <slot />

        <Footer />
    </body><style is:global></style>

    <script></script>
</html>
