---
import './style.scss';
import BaseLayout from "@layouts/BaseLayout.astro";
import Section from "@src/components/common/Section.astro";
---

<BaseLayout title="開発用ページ" description="開発用ページ">
    <main>
        <Section>
            <h2>開発用ページ</h2>

            <ul>
                <li>
                    <a href="pagelist/">ページリスト</a>
                </li>
                <li>
                    <a href="components/">コンポーネントリスト</a>
                </li>
            </ul>
        </Section>
    </main>
</BaseLayout>

<style lang="scss">
    @use '../../style/global' as g;
</style>

<script>
</script>
