---
import './style.scss';
import BaseLayout from "@layouts/BaseLayout.astro";
import { SITE } from "@src/config";
const { rootPath } = SITE;
---

<BaseLayout title="開発用ページ" description="開発用ページ">
    <main>
        <!-- データで見る生理痛のはなし -->
        <section>
            <div>
                <h2>開発用ページ</h2>

                <ul>
                    <li>
                        <a href="pagelist/">ページリスト</a>
                    </li>
                    <li>
                        <a href="components/">コンポーネントリスト</a>
                    </li>
                </ul>
            </div>
        </section>
    </main>
</BaseLayout>

<style lang="scss">
    @use '../../style/global' as g;
</style>

<script>
</script>
